RewriteEngine On

# www to non-www
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Remove index.php from URL
RewriteCond $1 !^(index\.php|assets|public|bower_components|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
